/* RESET DASAR */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f0f0f0;
  padding-bottom: 70px; /* ruang untuk bottom-nav */
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: white;
}

/* CATEGORY */
.category {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 12px 16px;
}

/* MENU LIST */
.menu-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding: 16px;
  justify-items: center; /* CENTER CARD DI GRID */
}

/* CARD */
.menu-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: white;
  border-radius: 12px;
  padding: 12px;

  height: 260px; /* cukup untuk judul, gambar, button */
  width: 100%;
  max-width: 240px;

  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}

/* GAMBAR */
.menu-card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 120px;
  border-radius: 8px;
  margin: 8px 0;
}

/* BUTTON GLOBAL */
button {
  background-color: #33ad66;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
}



/* KUNCI BUTTON KE BAWAH CARD */
.menu-card button {
  margin-top: auto;
}

/* BOTTOM NAV */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  box-shadow: 0 -4px 12px rgba(0,0,0,0.1);
}
